<h1>Edit profile</h1>
<form class="profile" method="POST" action="/editprofile">
  <div class="mb-3">
    <label class="form-label">Name</label>
    <input required="true" value={{data.user.name}} name="name" type="text" class="form-control">
  </div>
  <div class="mb-3">
    <label class="form-label">Last Name</label>
    <input required="true" value={{data.user.lastName}} name="lastName" type="text" class="form-control">
  </div>
  <div class="mb-3">
    <label>City</label>
    <select  required="true"  name="city" class="form-select" aria-label="Default select example">
      <option selected> {{data.user.city}}</option>
      <option value="Amsterdam">Amsterdam</option>
      <option value="Berlin">Berlin</option>
      <option value="Frankfurt">Frankfurt</option>
      <option value="Madrid">Madrid</option>
      <option value="Munich">Munich</option>
      <option value="Paris">Paris</option>
    </select>
  </div>
  <div class="mb-3">
     <label class="form-label">Email</label>
    <input value="{{data.user.email}}" name="email" required="true" type="email"  class="form-control">
  </div>
  
  <button type="submit" class="btn btn-primary">Update</button>
</form>


{{!-- Conditionally render the msg--}}
{{#if msg}}
<div class="error">{{msg}}</div>
{{/if}}