<h4 class="card-title">Hello {{data.user.name}}!</h4>
<div class="columnDiv">
  <section class="profile">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">


          <img width="100%" src={{data.user.photo}} alt="profile">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <table>
              <tr>
                <th>Name:</th>
                <td>{{data.user.name}}</td>
              </tr>
              <tr>
                <th>Last Name:</th>
                <td>{{data.user.lastName}}</td>
              </tr>
              <tr>
                <th>City:</th>
                <td>{{data.user.city}}</td>
              </tr>
              <tr>
                <th>Email:</th>
                <td>{{data.user.email}}</td>
              </tr>
            </table>

          </div>

        </div>

      </div>
      <div class="div-button">
        <a href='/addprofilephoto'><img width="80em" src="/images/add-user-photo.png" alt="edit-icon"></a>
        <a href='/editprofile'><img width="100em" src="images/editprofile.png" alt="edit-icon"></a>
      </div>
    </div>
  </section>
  <section class="yourToys">
    <div class="center">
      <h1>Your Toys</h1>
    </div>
    <button class="btn-primary btn-lg rightButton"><a href='/addtoy'>Add new toy</a></button>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      {{#each data.toyResults}}
      {{>toy this}}
      {{/each}}
    </div>
  </section>
</div>