<div class="col">
  <div id="toypage" class="card">
    <div class="card-body">
      <h4 class="card-title">{{data.toy.name}}</h4>


      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">


          <div class="carousel-item active">
            <img src="{{data.toy.photos.[0]}}" class="d-block w-100" alt="toyimage">
          </div>
          {{#each data.toy.photos}}
          <div class="carousel-item">
            <img src="{{this}}" class="d-block w-100" alt="toyimage">
          </div>
          {{/each}}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <p class="card-text">{{data.toy.description}}</p>
      <p class="card-text">{{data.toy.city}}</p>
      <p class="card-text">Age range: {{data.toy.ageRange}}</p>
      <p class="card-text">Available for: {{data.toy.switchMode}}</p>

      {{#if data.bool}}
      <button class="btn-primary btn-lg buttonRight"><a href='/edittoy/{{data.toy._id}}'>Edit Toy</a></button>
      <button class="btn-primary btn-lg buttonRight"><a href='/deletetoy/{{data.toy._id}}'>Delete Toy</a></button>

      {{/if}}




      {{#unless data.bool}}

      <p class="card-text">Toy Owner: {{data.owner.name}} {{data.owner.lastName}}</p>
      <button class="accordion btn-primary btn-lg buttonRight">Request Switch</button>
      <div class="panel">
        <form method="POST" action="/sendmessage/{{data.toy._id}}">
          <input name="text" required="true" type="text" class="form-control">
          <button type="submit" class="btn btn-primary">Send</button>
        </form>


        {{/unless}}
      </div>
    </div>
  </div>

  {{#if data.msg}}
  <div class="error">{{data.msg}}</div>
  {{/if}}

  <script>
    let acc = document.getElementsByClassName("accordion");
    let i;
    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function () {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
          console.log("1")
          panel.style.maxHeight = null;
        } else {
          console.log("2")
          panel.style.maxHeight = panel.scrollHeight + "px";
        }
      });
    }
  </script>